.day{
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
  overflow-y: hidden;
  .calendar-cell-top{
    padding-left: 9px;
    padding-top: 5px;
    text-align: left;
    font-weight: bold;
    height: fit-content;
    align-items: center;
    .mat-icon{
      float:right;
      margin-right: 5px;
      height:18px !important;
      width:18px !important;
      font-size:17px !important;
      &:hover{
        cursor:pointer;
      }
    }
  }
}

.day-weekend{
  background-color: rgb(226, 224, 224);
  .calendar-cell-top{
    color: rgb(88, 69, 156);
    }
}

.day-disabled{
  .calendar-cell-top{
    color: gray;
  }
}

.see-more{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 100%;
  width: auto;
  &:hover{
    cursor: pointer;
  }
}


